.newsfeed {
    /* border: 1px solid blueviolet; */
    flex: 0.7;
  }

.newsfeed__chartSection {
  display: flex; 
  flex-direction:column; 
}

  .newsfeed__portfolio {
    text-align: left;
  }

  .newsfeed__portfolio h1{
    margin:0; 
    color:rgb(132,74,225);
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__portfolio p{
    margin-top:0; 
    color:rgb(140,161,169);
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__portfolio__box{
    float:inline-start;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
    height: 5vh; 
    width: 14vh;
    padding: 20px; 
    background-color:white;
    border-radius: 10px; 
    color:rgb(140,161,169);
    text-align:left; 
    font-family: Franklin Gothic Medium;
    font-size:smaller;
  }

  .StockTotalStats {
    color:rgb(35,179,113);
  }

  .newsfeed__buying__section{
    display:flex; 
    justify-content: space-between;
    font-size: small;  
    color:rgb(36, 36, 101); 
    padding: 10px 0px 20px 0px; 
  }

  .newsfeed__market__section{
   margin-top: 20px; 
  }

  .newsfeed__market__box1{
    float:left;
    height: 12vh; 
    width: 28vh;
    padding: 20px; 
    border: 1px solid grey;
    border-radius: 10px; 
    text-align:left; 
    margin-bottom:10px; 
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__market__box2{
    float:right;
    height: 12vh; 
    width:45vh;
    padding: 20px; 
    border: 1px solid grey;
    border-radius: 10px; 
    text-align: left;
    margin-bottom:10px; 
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__content__section{ 
    margin-top: 20px; 
    font-family: Franklin Gothic Medium;
   }
 
   .newsfeed__content__box{
     height: 20vh; 
     padding: 20px; 
     border: 1px solid grey;
     border-radius: 10px; 
     text-align:left; 
     font-family: Franklin Gothic Medium;
   }

   .play__button {
    padding-top: 10px;
    float:left;
  }

   .newsfeed__content__box p {
    padding-top: 12px;
    width:720px;
    color:rgb(140,161,169);
    font-family: Franklin Gothic Medium;
  }


  .newsfeed__market__box h3 {
    color: black;
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__market__box p {
    color:rgb(140,161,169);
    font-size: 15px;  
    font-weight:700px; 
    margin-bottom: 8px; 
  }

  .newsfeed__market__box1 p {
    color:rgb(140,161,169);
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__market__box2 p {
    color:rgb(140,161,169);
    font-family: Franklin Gothic Medium;
  }

  .newsfeed__chart {
    width:100%; 
  }

  .newsfeed__popularlists__section{
    margin-top: 60px; 
  }

  .newsfeed__popularlists__intro{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px 0px 20px 0px; 
  }

  .personality {
    color:black;
  }

  .artETF {
    scale:75%;
    float:left;
  }

