.newsfeed {
    /* border: 1px solid blueviolet; */
    flex: 0.7;
  }

.newsfeed__chartSection {
  display: flex; 
  flex-direction:column; 
}

  .newsfeed__portfolio {
    text-align: left;
  }

  .newsfeed__portfolio h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0; 
    color:rgb(132,74,225)
  }

  .newsfeed__portfolio p{
    margin-top:0; 
    color:rgb(140,161,169)
  }

  .newsfeed__buying__section{
    display:flex; 
    justify-content: space-between;
    font-size: small;  
    color:rgb(36, 36, 101); 
    padding: 10px 0px 20px 0px; 
  }

  .newsfeed__market__section{
   margin-top: 20px; 
  }

  .newsfeed__market__box{
    height: 10vh; 
    padding: 20px; 
    border: 1px solid grey;
    border-radius: 10px; 
    color:rgb(36, 36, 101); 
    text-align:left; 
  }

  .newsfeed__content__section{ 
    margin-top: 20px; 
    font-family: 'Haettenschewiler';
   }
 
   .newsfeed__content__box{
     height: 30vh; 
     padding: 20px; 
     border: 1px solid grey;
     border-radius: 10px; 
     color:rgb(36, 36, 101); 
     text-align:left; 
     font-family: Franklin Gothic Medium;
   }

   .play__button {

    padding-top: 10px;
  }

   .newsfeed__content__box p {
    float:right;
    padding-top: 12px;
    width:720px;
  
   
  }

  .newsfeed__market__box h3 {
    color: 33404F;
  }

  .newsfeed__market__box p {
    color: 979797;
    font-size: 15px;  
    font-weight:700px; 
    margin-bottom: 8px; 
  }

  .newsfeed__chart {
    width:100%; 
  }

  .newsfeed__popularlists__section{
    margin-top: 60px; 
  }

  .newsfeed__popularlists__intro{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px 0px 20px 0px; 
  }

  .personality {
    color:black;
  }

