.timeline__container {
    display:flex; 
    border-bottom: 1px solid rgb(140, 161, 169);
}

.timeline__buttons__container {
    display:flex; 
    color: black; 
}

.timeline__button {
   font-weight:bold; 
   padding:10px 10px 20px 10px; 
   cursor: pointer;
   color: rgb(140, 161, 169);
}

.timeline__button:hover {
    color:rgb(35,179,113);
}

.timeline__button.active {
    color: blue; 
    border-bottom: 2px solid blue;
}
