.buystocks_container {
    display:flex; 
 
}

.buystocks_buttons_container {
    display:flex; 
    color: black; 
    padding-top:10px; 
}

.buystocks_action {
    width: 50px;
    height: 5px;
    font-weight: bold;
}

.buystocks_search_bar {
    width: 200px;
    height: 18px;
    font-weight: bold;    
}

.buystocks_shares_bar {
    width: 200px;
    height: 18px;
    font-weight: bold;  
}

.buystocks_button {
    color: white; 
    background-color: blueviolet;
    border-radius: 5px;
    border: 2px solid blueviolet;
    padding: 0px 10px 20px 5px; 
    width: 150px;
    height: 5px;
    font-weight: bold;
}

.buystocks_button:hover {
    color:rgb(17, 247, 17);
}

.buystocks_button.active {
    color: blue; 
    border-bottom: 2px solid blue;
}
