.newsfeed {
    /* border: 1px solid blueviolet; */
    flex: 0.7;
    color:white;
  }

.newsfeed__chartSection {
  display: flex; 
  flex-direction:column; 
}

  .newsfeed__portfolio {
    text-align: left;
  }

  .newsfeed__portfolio h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0; 
    color:blue; 
  }

  .newsfeed__portfolio p{
    margin-top:0; 
    color: blue; 
  }

  .newsfeed__chart{
    width:100%;
  }