.newsfeed {
    border: 1px solid blueviolet;
    flex: 0.7;
    color:white;
  }

  .newsfeed__portfolio {
    text-align: left;
  }

  .newsfeed__portfolio h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0; 
  }

  .newsfeed__portfolio p{
    margin-top:0; 
  }

  .newsfeed__chart{
    color: blue; 
  }